* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
.parallax-container {
    width: 100vw;
    height: 500px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.heading {
    padding: 5px 5%;
    background-color: #ee6e73;
    color: white;
    box-shadow: 0px 0px 20px #000;
}
.parallax-container img {
    width: 100vw;
}
.section {
    background-color: #ececec;
    color: #292828;
}
.markup span {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.title {
    color: #ee6e73;
    font-size: 2.5rem;
    width: 80%;
    margin: auto;
    padding: 10px 20px;
    font-family: 'Lobster', cursive;
}
.content {
    width: 80%;
    margin: 20px auto;
    font-size: 1.2rem;
    padding: 20px;
    line-height: 3rem;
    border-radius: 10px;
    background-color: #ececec;
    box-shadow: -5px -5px 20px #faf9f9, 5px 5px 10px #333333d0;
}
.center {
    color: #ee6e73;
    font-size: 2.5rem;
    text-align: center;
    padding: 10px;
}
.markup {
    width: 85%;
    margin: 40px auto;
    line-height: 2em;
    color: #000;
    background-color: #ececec;
    font-size: 1.1em;
    box-shadow: -5px -5px 50px #faf9f9, 5px 5px 10px #333333d0;
    border: 0;
    border-radius: 10px;
    padding: 40px;
    overflow: scroll;
    font-family: 'Courier New', Courier, monospace;
}
.property {
    padding: 10px;
    line-height: 1.8em;
}
footer {
    padding: 20px 30px;
}
.name {
    color: #000;
    background-color: #dad9d9;
    font-style: italic;
    border-radius: 10px;
    padding: 5px;
}
.d-type {
    color: #905;
}
.window-obj {
    color: #690;
}
.document-obj {
    color: #07a;
}
.quotes {
    color: #e99f15;
}
.bracket-pairs {
    color: #1a92f3;
}
.container-obj {
    color: #ee6868;
}
